<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <div class="col-lg-6">
        <form method="POST" action="/courses/store">
            <div class="mb-3">
                <label for="name" class="form-label">Tên khóa học</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Tên khóa học ...">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Mô tả ...">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Hình ảnh</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Hình ảnh">
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug ...">
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">Video ID</label>
                <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Video Id ...">
            </div>
            <button type="submit" class="btn btn-primary">Thêm khóa học</button>
        </form>
    </div>
</div>