h1 {
  color: red; }

.card-course-item {
  margin-top: 16px; }

h5 {
  color: black; }

.user-avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px; }

.form-login {
  height: 400px;
  border: 1px solid black; }

.form-btn {
  width: 200px; }
