<div class="mt-4">
    <h2>Khóa học của tôi</h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Create At</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>